# Eclipse Workspace
.metadata/
.recommenders/
Servers/
RemoteSystemsTempFiles/

# Eclipse Project
.settings/
.project
.classpath

# STS
.springBeans

# start.spring.io
.mvn/
mvnw
mvnw.cmd

# Maven
target/